div {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px;
}
span, button {
  margin-right: 4px;
}
span.has-error {
  margin-right: 0;
}
.modal-header {
  color: #ffffff;
  background-color: #2c3e50;
}
#tracer {
  font-size: 8pt;
}
h4 {
  background-color: #f8f8f8;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  padding: 8px;
}