label {
  font-size: 12pt;
  margin-right: 8px;
}
input[type=checkbox], input[type=radio] {
  margin-right: 4px;
}
input[type=text] {
  margin-left: 4px;
}
button.btn {
  margin-right: 4px;
  margin-bottom: 4px;
}
table {
  font-size: 12pt;
}
li.hl {
  background-color: #FFFFAA;
}
.footer {
  font-size: 11pt;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
#tracer {
  position: absolute;
  top: 0;
  right: 0;
}
