body {
  font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
  font-size: 2.0rem;
}
h1 {
  color: #559977;
  font-size: 3.6rem;
}
h2 {
  color: #EA7840;
  font-size: 2.8rem;
}
h3, th {
  color: #3355FF;
  font-size: 2.4rem;
}
.flemscode {
  height: 500px;
}
blockquote {
  padding-left: 20px;
  border-left: 2px solid gray;
}
img {
  max-width: 100%;
}
.CodeMirror pre {
  font-size: 1.6rem !important;
}
pre[class*="language-"] {
  padding: 0;
}
ul li {
  list-style-type: square;
}
.flemscode {
  margin-bottom: 32px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
pre.language-js {
  margin-bottom: 2rem;
}