body, button {
  font-family: sans-serif;
  font-size: 1rem;
}
button, button.light {
  cursor: pointer;
  padding: 2px 8px 2px 8px;
  color: #5755d9;
  background-color: #ffffff;
  border: 1px solid #5755d9;
  margin: 4px;
}
button:hover {
  background-color: #eeeeee;
}
button.dark {
  background-color: #5755d9;
  color: #ffffff;
}
button.dark:hover {
  background-color: #7775f9;
}
.temperature {
  margin-bottom: 20px;
}