@font-face {
  font-family: "color-emoji";
  src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
}
body {
  font-family: "Lucida Grande",Helvetica,Arial,sans-serif,color-emoji;
}
.docs-nav {
  display: grid;
  margin-bottom: 20px;
}
.nav-prev, .nav-next {
  display: flex;
  flex-flow: row;
}
.nav-prev .title {
  margin-left: 5px;
}
@media (max-width: 575.98px) {
  body {
    font-size: 1.45rem;
  }
  .docs-nav {
    grid-template-columns: 1fr;
  }
  .docs-nav a.toc {
    grid-row: 1;
  }
  .nav-next .title {
    margin-left: 5px;
  }
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3, h3 a, th {
    font-size: 1.5rem;
  }
  pre[class*="language-"] code[class*="language-"] {
    font-size: 1.2rem !important;
  }
  .CodeMirror pre {
    font-size: 1.2rem !important;
  }
  .flemscode .toolbar .tab {
    font-size: 1rem;
  }
}
@media (min-width: 576px) {
  body {
    font-size: 2.0rem;
  }
  .docs-nav {
    grid-template-columns: repeat(3, 1fr);
  }
  .docs-nav :nth-child(2) {
    text-align: center;
  }
  .nav-next {
    justify-content: right;
  }
  .nav-next .title {
    order: 1;
    margin-right: 5px;
  }
  .nav-next .arrow {
    order: 2;
  }
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  h3, h3 a, th {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 2.3rem;
  }
  .CodeMirror pre {
    font-size: 1.3rem !important;
  }
}
a {
  text-decoration: none;
}
h1 {
  color: #559977;
}
h2 {
  color: #F43c1d;
}
h3, h3 a, th {
  color: #3355FF;
}
h4 {
  color: #559977;
}
.flemscode {
  height: 500px;
}
blockquote {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  margin-left: 0;
  border: 2px solid #FFAA99;
  background-color: #FFFFEE;
}
blockquote > p {
  margin-bottom: 1rem;
}
img {
  max-width: 100%;
}
pre[class*="language-"] {
  padding: 0;
}
ul li {
  list-style-type: square;
}
.flemscode {
  margin-bottom: 32px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
pre.language-js, pre.language-ts, pre.language-html {
  margin-bottom: 2rem;
}
div.lesson {
  margin-top: 20px;
  margin-bottom: 20px;
}
