body {
  font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
  font-size: 2.0rem;
}
h1 {
  color: #559977;
  font-size: 3.6rem;
}
h2 {
  color: #F43c1d;
  font-size: 2.8rem;
}
h3, th {
  color: #3355FF;
  font-size: 2.4rem;
}
h4 {
  color: #559977;
  font-size: 2.3rem;
}
.flemscode {
  height: 500px;
}
blockquote {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  margin-left: 0;
  border: 2px solid #FFAA99;
  background-color: #FFFFEE;
}
blockquote > p {
  margin-bottom: 1rem;
}
img {
  max-width: 100%;
}
.CodeMirror pre {
  font-size: 1.3rem !important;
}
pre[class*="language-"] {
  padding: 0;
}
ul li {
  list-style-type: square;
}
.flemscode {
  margin-bottom: 32px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
pre.language-js, pre.language-html {
  margin-bottom: 2rem;
}