<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" size="16x16, 32x32, 48x48, 64x64, 128x128, 256x256" href="/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meiosis-Setup - lit-html</title>
  </head>
  <body>
    <h4>Meiosis Setup - lit-html + functionPatches</h4>
    <div id="app"></div>
    <div>
      <a href="/">Back to list of examples</a>
    </div>
  </body>
  <script src="/lit-html/build/generated-app.js"></script>
</html>
