<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" size="16x16, 32x32, 48x48, 64x64, 128x128, 256x256" href="/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meiosis-Setup - view helpers</title>
  </head>
  <body>
    <h4>Meiosis Setup - examples with views</h4>
    <ul>
      <li><a href="/lit-html/index.html">lit-html + functionPatches</a></li>
      <li><a href="/mithril/index.html">mithril + mergerino</a></li>
      <li><a href="/preact/index.html">preact + mergerino</a></li>
      <li><a href="/react/index.html">react + immer</a></li>
    </ul>
  </body>
</html>
